.sidenav::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    display: block;
}

.sidenav::-webkit-scrollbar-track {
    border-radius: 100px;
}

.sidenav::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 100px;
}

.sidemenu_item a.active {
    border-right:3px solid #fc0;
}

.sidenav svg {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.nav-item svg{
    width: 25px;
    height: 25px;
}
.nav-item svg:hover{
    fill: #006c92;
}

.offcanvas {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f5f5f5;
    overflow-x: hidden;
    transition: 100ms ease-in-out;
    .container {
      padding: 20px;
      padding-top: 50px;
    }
    .offcanvas_menu {
      margin-top: 20px;
      padding-top: 30px;
      padding-left: 12px;
      border-top: 1px solid gray;
    }
    .offcanvas_menuItem {
      margin-bottom: 25px;
      p {
        padding-left: 10px;
        font-size: 15px;
        margin-top: 4px;
      }
      svg {
        fill: #f200ff23 !important;
        width: 21px;
        height: 21px;
      }
    }
    .offcanvas_menuItem:hover {
        font-weight: bold;
    }
  }

